{
        email caddy@adammill.dev
}

(cloudflare-tls) {
        tls {
                dns cloudflare {$CLOUDFLARE_API_TOKEN}
                propagation_timeout 60m
        }
}

(caddy-network-bind) {
        bind 10.89.0.17 [fde6:1612:79ee:c19d::11]
}

glances.slowpoke.kanto.casa {
        import caddy-network-bind
        reverse_proxy host.containers.internal:61208
        import cloudflare-tls
}
